*{margin: 5;
    padding: 3;
}
   .h1{ 
    color: rgb(44, 185, 74);
    font-family: 'Courier New', Courier, monospace;
}
div p{
    display: table-cell;
    vertical-align: middle;
    font-family: impact;
    font-size: 32px;
    text-transform: uppercase;
    color: black;
}
.azul {
    background-color: blue;
}
.rojo {
    background-color: red;
}
.verde{
    background-color: green;
}
.gris {
    background-color: grey;
}
header {
    background-color: rgb(157, 240, 185);
}
footer {
    background-color: black;
    position: sticky;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.letra {
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cursiva {
background-color: brown;
}
.dia {
    font-size: xx-large;
}
.dia {
    border-style: dashed;
    background-color: brown;
}
.contenedor {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
}
p {
    text-align: center;
}
/*tareas hasta la seis*/

.terminal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 200px);
    gap: 10px;
}
    .cajauno{
        background-color: yellow;
    }
    .cajados{
        background-color: blueviolet;
    }
    .cajatres{
        background-color: black;
    }
    .cajacuatro{
        background-color: red;
    }
    .cajacinco{
        background-color: green;
    }
    .cajaseis{
        background-color: orange;
    }
    .cajasiete{
        background-color: pink;
    }
    .cajaocho{
        background-color: blue;
    }
    .cajanueve{
        background-color: aqua;
    }

 @media only screen and (min-width: 326px) and (max-width: 768px) {
      .terminal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        }      
    }
 @media only screen and (min-width: 770px) {
        .terminal{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
        }
    }