.letra {
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cursiva {
background-color: brown;
}
.dia {
    font-size: xx-large;
}
.dia {
    border-style: dashed;
    background-color: brown;
}